$principalFont: "Montserrat", sans-serif;
$italicFont: "Italianno", cursive;
//Colores
$clgblack: #232323;
$cblack: #000000;
$cwhite: #ffffff;
$cbrownlight: #ba9b62;
$cgray: #f2f3f4;

//Fuentes
$light: 300;
$regular: 400;
$bold: 700;
$black: 900;

//Separaciones
$separacion: 5rem;
